<nav class="mobile-nav">
    <ul class="mobile-menu">
        <li class="active">
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/shop">Shop</a>
        </li>
        <li>
            <a href="/blog">Blog</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
    </ul>
</nav>