<!DOCTYPE html>
<html lang="en">
<head>
    <!-- metas -->
    <meta charset="utf-8" />
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="admin,dashboard" />
    <meta name="description" content="Smartshop - Responsive eCommerce Admin Dashboard" />

    <!-- title  -->
    <title>Smartshop - Responsive eCommerce Admin Dashboard</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="/img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="/img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/img/logos/apple-touch-icon-114x114.png" />

    <!-- common plugins -->
    <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/plugins/icomoon/style.css" />
    <link rel="stylesheet" href="/plugins/uniform/css/default.css" />
    <link rel="stylesheet" href="/plugins/switchery/switchery.min.css" />

    <!-- theme core css -->
    <link rel="stylesheet" href="/css/styles.css" />

</head>

<body>

    <style>
        .error{
            color: red;
            margin: .5em 0;
        }
    </style>

    <!-- PAGE LOADING
    ================================================== -->
    <div id="preloader"></div>

    <!-- PAGE CONTAINER
    ================================================== -->
    <div class="page-container">

        <!-- PAGE SIDEBAR
        ================================================== -->
         <%-include("./partials/adminsidebar.ejs")  %>

        <!-- PAGE CONTENT
        ================================================== -->
        <div class="page-content">

            <!-- PAGE HEADER
            ================================================== -->
            <div class="page-header">
                <div class="search-form">
                    <form action="#" method="GET">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control search-input" placeholder="Type something...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" id="close-search" type="button"><i class="icon-close"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <div class="logo-sm">
                                <a href="#" id="sidebar-toggle-button"><i class="fa fa-bars"></i></a>
                                <a class="logo-box" href="index.html"><img src="../img/logos/logo.png" class="logo" alt="..."></a>
                            </div>
                            <button type="button" class="navbar-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <i class="fa fa-angle-down"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </nav>
            </div>

            <!-- PAGE INNER
            ================================================== -->
            <div class="page-inner">

                <!-- PAGE MAIN WRAPPER
                ================================================== -->
                <div id="main-wrapper">

                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="card card-white">
                                <div class="card-heading clearfix">
                                    <h4 class="card-title">Upload your Category</h4>
                                </div>
                                <div class="card-body">
                                    <!-- <form class="form-inline" method="post" action="/admin/addcategory">
                                        
                                    </form> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->

                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="card card-white">
                                <div class="card-heading clearfix">
                                    <h4 class="card-title">Add your category description</h4>
                                </div>
                                <div class="card-body">
                                    <form id="category-form" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="exampleInput1">Category Name</label>
                                            <input type="text" class="form-control" id="exampleInput1" aria-describedby="exampleInput1" name="categoryname" rrequired/>
                                            <div class="error name"></div>
                                        </div>
                                        <div class="form-group mb-4">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="customFile" name="files" multiple required/>
                                                <label class="custom-file-label" for="customFile" >Choose file</label>
                                                <div class="error image" ></div>
                                            </div>
                                        </div>
                                        <div>
                                            <button  class="btn btn-primary">Add Category</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div>

                <div class="page-footer">
                    <p>Copyright &copy; <span class="current-year"></span> Smartshop All rights reserved.</p>
                </div>
            </div>
        </div>

    </div>

    
    <!-- SCROLL TO TOP
    ================================================== -->
    <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>

    <!-- ALL JS INCLUDE
    ================================================== -->

    <script>
        const form = document.querySelector("#category-form")
        const nameError = document.querySelector(".error.name")
        const imageError = document.querySelector(".error.image")   
        form.addEventListener("submit" , async (e) => {
            e.preventDefault()
            const category = form.categoryname.value
            const file = document.querySelector("#customFile")
            const formData = new FormData()
            formData.append("file" , file.files[0] )
            formData.append( "categoryname", category)

            nameError.textContent = ""
            imageError.textContent = ""
            
            try{

              const res = await fetch("/admin/addcategory" , {
                method:"POST",
                body:formData ,
                
                
            })

            const data =  await res.json()
            if(data.data){
                location.assign("/admin/category")
            }
            if(data.error){
                nameError.textContent = data.error.name
                imageError.textContent = data.error.image
            }
            if(data.errors){
                imageError.textContent = data.errors
            }

            }
            catch(err){
                console.log(err)
            }
            
        })

    </script>

    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>

    <!-- popper -->
    <script src="/plugins/popper/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- slimscroll -->
    <script src="/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>

    <!-- uniform -->
    <script src="/plugins/uniform/js/jquery.uniform.standalone.js"></script>

    <!-- switchery -->
    <script src="/plugins/switchery/switchery.min.js"></script>

    <!-- theme core scripts -->
    <script src="/js/main.js"></script>

    <!-- all js include end -->

</body>

</html>