<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/assets/auth/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/auth/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/auth/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/auth/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/assets/auth/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/auth/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/assets/auth/css/util.css">
	<link rel="stylesheet" type="text/css" href="/assets/auth/css/main.css">
<!--===============================================================================================-->
</head>
<body>

    <style>
        .error{
            color:red;
            margin:.75em;
        }
    </style>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="/assets/auth/images/img-01.png" alt="IMG">
				</div>

				<form class="login100-form validate-form" action="/login">
					<span class="login100-form-title">
						Member Login
					</span>

					<div class="wrap-input100 validate-input">
						<input class="input100" type="text"  placeholder="user name" name="userName">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                        <div class="error userName"></div>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                        <div class="error password"></div>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

					<div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="#">
							Username / Password?
						</a>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="/signup">
							Create your Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="/assets/auth/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/auth/vendor/bootstrap/js/popper.js"></script>
	<script src="/assets/auth/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/auth/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/assets/auth/vendor/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt') .tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="/assets/auth/js/main.js"></script>

    <script>

        const form = document.querySelector("form")
        const userNameError = document.querySelector(".error.userName")
        const passwordError = document.querySelector(".error.password")
        form.addEventListener("submit", async (e) => {
            e.preventDefault()

            userNameError.textContent = ""
            passwordError.textContent = ""

           try{
            const userName = form.userName.value
            const password = form.password.value
            const result = await fetch("/login" , {
                method:"POST",
                body:JSON.stringify({userName , password}),
                headers:{
                    "Content-Type":"application/json"
                }

            })
            
            const data =  await result.json()
			if(data.message.includes("authentication successfull")){
				location.assign("/")
			}
            if(data.message.includes("incorrect user name")){
                userNameError.textContent = data.message
            }
            if(data.message.includes("incorrect password")){
				passwordError.textContent = data.message
			}
			if(data.message.includes("admin blocked")){
				passwordError.textContent = data.message
			}
            
           }catch (err){
            console.log(err)
           }
        })
    </script>

</body>
</html>